body{
    background-color: #d6e1ef;
font-family: cursive;}

.qr-code{
    background-color:white;
    height: 470px;
    width: 302px;
    position: fixed;
    margin: auto;
    inset: 0;
border-radius: 16px;
}

img{
width: 243px;
    height: 260px;
    margin: 28px;
    border-radius: 16px;
}
h2{

    font-size: 23px;
    margin: 7px;
    text-align: center;
    color: #1f3251;
}
p{
    display: inline-block;
    font-size: 14px;
    text-align: center;
}