body{
    background-color: #d6e1ef;
font-family: cursive;}

.qr-code{
    background-color:white;
    height: 446px;
    width: 100%;
    max-width: 302px;
    position: fixed;
    margin: auto;
    inset: 0;
border-radius: 25px;
}

img{
max-width: 227px;
    height: 227px;
    width: 100%;
    margin: 37px;
    border-radius: 16px;
}
h2{

    font-size: 23px;
    margin-top:-12px;
    text-align: center;
    color: #1f3251;
}
p{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: gray;
    margin: 6px;
}